{% extends 'base_registration.html' %}
{% block titulo %} Dados da Atividade{% endblock %}
{% block conteudo %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form.erros }}

        <table>
            {{ form.as_table }}
        </table>

        <br>

        <p>
            Para selecionar mais de um bolsista:
        <ul class="text-warning">
            <li>No Windows: Segure o botão Ctrl para selecionar múltiplas opções</li>
            <li>No Mac: Segure o botão de comando para selecionar múltiplas opções</li>
        </ul>
        </p>


        <div class="control-group">
            <label class="control-label" for="salvar"></label>

            <div class="controls">
                <input type="submit" class="btn btn-primary" value="Salvar"/>
                <a class="btn btn-danger pull-right" href="{% url 'pontoEletronico:atividadeList' %}">Voltar</a>
            </div>
        </div>
    </form>

{% endblock %}