<!DOCTYPE html>
<html>
<head lang="pt-br">
    {% load staticfiles %}

    <!-- CSS -->
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=PT+Sans:400,700'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Oleo+Script:400,700'>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    {{ form.media }}
    <meta charset="UTF-8">
    <title>PIBID Informática - Teresina Zona Sul</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
{% load extra_tags %}

<div class="header">
    <div class="container">
        <div class="row">
            <div class="logo span8">
                <h1>
                    <a href="http://www5.ifpi.edu.br/" target="_blank"><img src="{% static 'uploads/logo_ifpi.png' %}" alt=""></a>&nbsp;
                    <a href="http://www.capes.gov.br/educacao-basica/capespibid" target="_blank"><img src="{% static 'uploads/logo_pibid.png' %}" alt=""></a>
                    <p>
                        <a class="navbar-brand" href="{% url 'pontoEletronico:index' %}"> Sistema de Ponto Eletrônico do PIBID Zona Sul<span class="red">.</span></a>
                    </p>

                </h1>
            </div>
            <div class="links span4">

                <a class="inicio" title="Ir para o registro de presença" href="{% url 'pontoEletronico:index' %}" rel="tooltip" data-placement="bottom" data-original-title="inicio"></a>
                <a class="login" title="Login" href="{% url 'pontoEletronico:login' %}" rel="tooltip" data-placement="bottom" data-original-title="Login"></a>

            </div>
        </div>
    </div>
</div>

{% block semmenu %} {% endblock %}

<div class="footer">
    <div class="container">
        <div class="row">
            <div class="logo span8">
                <p>Instituto Federal do Piauí - Campus Teresina Zona Sul</p>
                <p>Laboratório Interdisciplinar de Formação de Educadores - LIFE</p>
                <p>Desenvolvimento: LIFE - Teresina Zona Sul</p>
            </div>
        </div>
    </div>
</div>

<!-- Javascript -->
<script src="{% static 'js/jquery-1.8.2.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.backstretch.min.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>

</body>
</html>