<!DOCTYPE html>
<html>
<head lang="pt-br">
    {% load staticfiles %}
    
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bower_components/bootstrap/dist/css/datepicker.css' %}" rel="stylesheet">
    <link href="{% static 'bower_components/bootstrap/dist/css/typeahead.css' %}" rel="stylesheet">


    <!-- MetisMenu CSS -->
    <link href="{% static 'bower_components/metisMenu/dist/metisMenu.min.css' %}" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="{% static 'dist/css/timeline.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'dist/css/sb-admin-2.css' %}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{% static 'bower_components/morrisjs/morris.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'bower_components/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">


    <!-- DataTables CSS -->
    <link href="{% static 'bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css' %}" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="{% static 'bower_components/datatables-responsive/css/dataTables.responsive.css' %}" rel="stylesheet">

    <link href="{% static 'dist/themes/default/style.min.css' %}" rel="stylesheet">

    {{ form.media }}
    <meta charset="UTF-8">
    <title>PIBID Informática - Teresina Zona Sul </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
{% load extra_tags %}

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <img src="{{MEDIA_URL}}logo_ifpi.png" alt="">&nbsp;
            <img src="{{MEDIA_URL}}logo_pibid.png" alt="">
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <!--<li><a href="#"><i class="fa fa-user fa-fw"></i> Perfil</a>
                    </li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> Configurações</a>
                    </li>
                    <li class="divider"></li>-->
                    <li>
                        <a href="{% url 'pontoEletronico:logout' %}"><i class="fa fa-sign-out fa-fw"></i> Sair</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-brand navbar-right">

            Bem-vindo! {{ user.username }} [ <strong>{{ user|group_name }}</strong> ]
        </div>
    </nav>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"> Sistema de Ponto Eletrônico do PIBID Zona Sul<span class="red">.</span></a>
        </div>


        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">

                    {% if user|has_group  %}
                        <ul class="nav" id="side-menu">
                        {% if user|has_group:"Bolsista" %}
                            <li>
                                <a href="{% url 'pontoEletronico:bolsistaDetail' -1 %}"><i class="fa fa-dashboard fa-fw"></i> Informações</a>
                            </li>
                            <li>
                                <a href="{% url 'pontoEletronico:frequenciaList' %}"><i class="fa fa-bar-chart-o fa-fw"></i> Frequências</a>
                            </li>

                        {% endif %}
                        {% if user|has_group:"Coordenador" %}
                            <li>
                                <a href="{% url 'pontoEletronico:presencaList' %}"><i class="fa fa-edit fa-fw"></i> Presenças</a>
                            </li>

                            <li>
                                <a href="{% url 'pontoEletronico:frequenciaList'%}"><i class="fa fa-sitemap fa-fw"></i> Frequências</a>
                            </li>
                            <li>
                                <a href="{% url 'pontoEletronico:bolsistaList' %}"><i class="fa fa-files-o fa-fw"></i> Bolsistas</a>
                            </li>
                        {% endif %}
                        </ul>
                    {% endif %}


                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <!-- Page Content -->
    <div id="page-wrapper">

        <noscript>
            <div id="div-conteudo" class="container-fluid ">
                <div class="row">
                    <div class="col-lg-12">
                        <h4 class="page-header texto-vermelho">Atenção!<br/></h4>
                        <p>O JavaScript deve estar ativado para que você use o Site com todas suas funcionalidades. <br/>
                                Parece que ele está desativado ou não é compatível com seu navegador.<br/>
                                Ative o JavaScript alterando as opções do navegador e <a href="">tente novamente</a>.</p>
                    </div>
                 </div>
            </div>
        </noscript>

        <div id="div-conteudo" class="container-fluid ocultar">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">{% block titulo %}  {% endblock %}</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->

         {% block conteudo %}

        {% endblock %}

        
<div class="rodape_content margin-top-10">
    <div class="row">
        <div class="col-lg-6 direitos">
            <p>Instituto Federal do Piauí - Campus Teresina Zona Sul<br/>
            Laboratório Interdisciplinar de Formação de Educadores - LIFE<br/>
            Desenvolvimento: LIFE - Teresina Zona Sul</p>
        </div>
    </div>
</div>



</div>
<!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'bower_components/bootstrap/dist/js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'bower_components/bootstrap/dist/js/typeahead.min.js' %}"></script>

<!-- DataTables JavaScript -->
<script src="{% static 'bower_components/datatables/media/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js' %}"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="{% static 'bower_components/metisMenu/dist/metisMenu.min.js' %}"></script>

<!-- Morris Charts JavaScript -->
<script src="{% static 'bower_components/raphael/raphael-min.js' %}"></script>
<script src="{% static 'js/chart.min.js' %}"></script>

<!-- Custom Theme JavaScript -->
<script src="{% static 'dist/js/sb-admin-2.js' %}"></script>


<script src="{% static 'dist/js/jstree.min.js' %}"></script>



<script>
    $(document).ready(function () {

        $('#div-conteudo').slideDown();

        $('.datepicker').datepicker();

        $('.dataTables-list').DataTable({
            responsive: true,
            order: [[0, "desc"]]
        });

    });
</script>
</body>
</html>