{% extends 'base_registration.html' %}
{% block titulo %} Lista de Bolsista {% endblock %}
{% block conteudo %}

 {% if messages %}
    {% for message in messages %}

        {% if message.tags == "error" %}

            <div class="alert alert-danger" role="alert"> {{ message }}</div>
        {% else %}
            <div class="alert alert-{{ message.tags }}" role="alert"> {{ message }}</div>
        {% endif %}

    {% endfor %}
{% endif %}

<div class="dataTable_wrapper table-responsive">
    <table class="table table-striped table-bordered table-hover dataTables-list">
    <thead>
    <tr>
        <th>Bolsista</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>

    </tr>
    </thead>

{% for bolsista in object_list %}
    <tr>
        <td>{{ bolsista }}</td>
        <td align="center"><a href="{% url 'pontoEletronico:bolsistaDetail' bolsista.id%}" >ver mais Detalhes</a></td>
        <td align="center">
            <a title="Alterar" href="{% url 'pontoEletronico:coordenadorBolsistaUpdate' bolsista.id%}"><span class="glyphicon glyphicon-edit"></span></a>&nbsp;
        </td>
        <td align="center">
            <a title="Excluir" href="{% url 'pontoEletronico:bolsistaDelete' bolsista.id%}"><span class="glyphicon glyphicon-trash"></span></a>&nbsp;
        </td>
    </tr>
{% endfor %}
</table>

<div class="control-group">
        <label class="control-label" for="salvar"></label>
        <div class="controls">
             <a class="btn btn-primary" href="{% url 'pontoEletronico:bolsistaCreate' %}" >Cadastrar Bolsista</a>
        </div>
    </div>

{% endblock%}