{% extends 'base_registration.html' %}
{% block titulo %} Informações pessoais {% endblock %}
{% block conteudo %}
<form action="" method="post">
    {% csrf_token %}
    <table>
    {% for field in form %}
        <tr>
            <td>{{ field.label_tag }}</td>
            <td>{{ field }}</td>
            <td>{{ field.erros }}</td>
        </tr>
    {% endfor %}
    </table>

    <div class="control-group">
        <label class="control-label" for="salvar"></label>
        <div class="controls">
            <input type="submit" class="btn btn-primary" value="Salvar"/>
            <a class="btn btn-danger pull-right" href="{% url 'pontoEletronico:bolsistaDetail' -1%}">Voltar</a>
        </div>
    </div>
</form>
{% endblock %}