{% extends 'base_registration.html' %}
{% block titulo %} Dados do Bolsista {% endblock %}
{% block conteudo %}
<form action="" method="post">
    {% csrf_token %}

    <table>
        {{form.as_table}}
        {{user_form.as_table}}
    </table>
    <div class="control-group">
        <label class="control-label" for="salvar"></label>
        <div class="controls">
            <input type="submit" class="btn btn-primary" value="Salvar"/>
            <a class="btn btn-danger pull-right" href="{% url 'pontoEletronico:bolsistaList' %}">Voltar</a>
        </div>
    </div>
</form>
{% endblock %}