{% extends 'base_registration.html' %}
{% load extra_tags %}
{% block titulo %} Frequências do mês {% endblock titulo %}
{% block conteudo %}
    <p>
        {% if object_list %}
            <strong>Mês:</strong> {{ mes }}/{{ ano }}
        {% else %}
            Sem frequencia
        {% endif %}
    </p>

    <div class="dataTable_wrapper table-responsive">
        <table class="table table-striped table-bordered table-hover dataTables-list">
        <thead>
            <tr>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
        {% for frequencia in object_list %}
            <tr>
                <td><a href="{% url 'pontoEletronico:frequenciaDetail' frequencia.id %}">  {{ frequencia }} - {{ frequencia.carga_horaria | timedelta }} </a></td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    </div>

{% endblock %}