{% extends 'base.html' %}
{% load extra_tags %}
{% block semmenu %}

    <div class="register-container container">

        <div class="row">

            <div class="register span12 table-responsive">
                 <form action="" method="post">
                 <h2>PRESENÇAS <span class="red"><strong>RECENTES</strong></span></h2>
                     <table class="table text-center" >
                        <tr>
                            <th class="text-center">Bolsista</th>
                            <th class="text-center">Entrada</th>
                            <th class="text-center">Saída</th>
                            <th class="text-center">Duração</th>
                        </tr>
                        {% for frequencia in object_list %}
                            <tr>
                                <td>{{ frequencia.bolsista }}</td>
                                <td>{{ frequencia.chegada | time:'H:i' }}</td>
                                <td>
                                    {% if frequencia.saida %}
                                        {{ frequencia.saida | time:'H:i' }}
                                    {% else %}
                                        Em aberto
                                    {% endif %}
                                </td>
                                <td>
                                    {% if frequencia.saida %}
                                        {{ frequencia.duracao | timedelta }}
                                    {% else %}
                                        Em aberto
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>

                </form>
            </div>
        </div>

        <div class="row">
            <div class="register span6">
             <form action="" method="post">

                 <h2>REGISTRAR <span class="red"><strong>PRESENÇA</strong></span></h2>
                 {% csrf_token %}
                 {{ form.erros }}

                 {% if messages %}
                    {% for message in messages %}

                        {% if message.tags == "error" %}

                            <div class="alert alert-danger" role="alert"> {{ message }}</div>
                        {% else %}
                            <div class="alert alert-{{ message.tags }}" role="alert"> {{ message }}</div>
                        {% endif %}

                    {% endfor %}
                {% endif %}

                {% for field in form %}
                    <div class="">
                    {% if field.name == "password" %}
                         <label for="{{ field.id_for_label }}">{{ field.html_name}}</label>
                         <input type="password" id="{{ field.id_for_label }}" name="{{ field.html_name }}">
                         {{ field.erros}}
                    {% else %}
                         <label for="{{ field.id_for_label }}">{{ field.html_name}}</label>
                         <input type="text" id="{{ field.id_for_label }}" name="{{ field.html_name }}">
                         {{ field.erros}}
                    {% endif %}

                    </div>
                {% endfor %}
                <button type="submit">REGISTRAR</button>
                </form>
            </div>

            <div class="register span6">
                 <form action="" method="post">
                 <h2>NOTÍCIAS <span class="red"><strong>MAIS RECENTES</strong></span></h2>
                     <table class="table text-center" >
                        {% for noticia in noticia_list %}
                            <tr>
                                <td>
                                    {{ noticia.data | date:'d/M/y H:i:s' }} -  <a href="{% url 'pontoEletronico:noticiaDetail' noticia.id %}"> {{ noticia }} </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>

                </form>
            </div>

        </div>
    </div>
{% endblock %}
{% block menu %} {% endblock %}