{% extends 'base_registration.html' %}
{% load extra_tags %}
{% block titulo %} Pibid{% endblock %}
{% block conteudo %}
    <div class="texto-justificar dataTable_wrapper table-responsive">
        <h3>Programa Institucional de Bolsa de Iniciação à Docência</h3>

        <p>O Pibid é uma iniciativa para o aperfeiçoamento e a valorização da formação de professores para a educação básica.</p>
        <p>O programa concede bolsas a alunos de licenciatura participantes de projetos de iniciação à docência desenvolvidos por Instituições de Educação Superior (IES) em parceria com escolas de educação básica da rede pública de ensino.</p>
        <p>Os projetos devem promover a inserção dos estudantes no contexto das escolas públicas desde o início da sua formação acadêmica para que desenvolvam atividades didático-pedagógicas sob orientação de um docente da licenciatura e de um professor da escola.</p>
        <h3><strong>Objetivos do Programa</strong></h3>
        <ul>
        <li>Incentivar a formação de docentes em nível superior para a educação básica;</li>
        <li>contribuir para a valorização do magistério;</li>
        <li>elevar a qualidade da formação inicial de professores nos cursos de licenciatura, promovendo a integração entre educação superior e educação básica;</li>
        <li>inserir os licenciandos no cotidiano de escolas da rede pública de educação, proporcionando-lhes oportunidades de criação e participação em experiências metodológicas, tecnológicas e práticas docentes de caráter inovador e interdisciplinar que busquem a superação de problemas identificados no processo de ensino-aprendizagem;</li>
        <li>incentivar escolas públicas de educação básica, mobilizando seus professores como coformadores dos futuros docentes e tornando-as protagonistas nos processos de formação inicial para o magistério; e</li>
        <li>contribuir para a articulação entre teoria e prática necessárias à formação dos docentes, elevando a qualidade das ações acadêmicas nos cursos de licenciatura.</li>
        </ul>
        <h3><strong>Como funciona?</strong></h3>
        <p>Instituições de Educação Superior interessadas em participar do Pibid devem apresentar à Capes seus projetos de iniciação à docência conforme os editais de seleção publicados. Podem se candidatar IES públicas e privadas com e sem fins lucrativos que oferecem cursos de licenciatura.</p>
        <p>As instituições aprovadas pela Capes recebem cotas de bolsas e recursos de custeio e capital para o desenvolvimento das atividades do projeto. Os bolsistas do Pibid são escolhidos por meio de seleções promovidas por cada IES.</p>
        <p>As bolsas são pagas pela Capes diretamente aos bolsistas, por meio de crédito bancário.</p>

        <p> <a href="http://www.capes.gov.br/historia-e-missao" target="_blank"> Ler sobre a história e missão da CAPES</a>  </p>

    </div>


{% endblock %}