{% extends 'base_registration.html' %}
{% load extra_tags %}
{% load staticfiles %}
{% block titulo %} Notícia {% endblock %}
{% block conteudo %}
    <div class="">
        {% if object.foto %}
            <div class="row">
                <div class="col-sm-8"><img src="{% static 'uploads' %}/{{ noticia.foto}}"></div>
            </div>
        {% endif %}

        <div class="row">
            <div class="col-sm-8"><strong>{{ object.titulo }}</strong></div>
        </div>
        <div class="row">
            <div class="col-sm-8">Publicada em  {{ object.data }}</div>
        </div>
        <hr class="width-full">
        <br>
        <div class="row">
                <div class="col-sm-8 texto-justificar">{{ object.texto|linebreaksbr }}</div>

        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-8">
            <h3 class="page-header">Notícias mais recentes</h3>
        </div>
        <!-- /.col-lg-12 -->
    </div>

     <ul>
        {% for outros in object_list %}
        <li>
            <a href="{% url 'pontoEletronico:noticiaDetail' outros.id %}"> {{ outros.data }} - {{ outros }} </a>
        </li>
        {% endfor %}

    </ul>

    <div class="control-group">
        <label class="control-label" for="salvar"></label>
        <div class="controls">
            <a class="btn btn-primary" href="{% url 'pontoEletronico:noticiaListBolsista' %}">Mostrar todas</a>
        </div>
    </div>


{% endblock %}