{% extends 'base_registration.html' %}
{% load extra_tags %}
{% block titulo %} Lista de Presenças{% endblock %}
{% block conteudo %}

    {% if messages %}
        {% for message in messages %}

            {% if message.tags == "error" %}

                <div class="alert alert-danger" role="alert"> {{ message }}</div>
            {% else %}
                <div class="alert alert-{{ message.tags }}" role="alert"> {{ message }}</div>
            {% endif %}

        {% endfor %}
    {% endif %}

    <div class="dataTable_wrapper table-responsive">
        <table class="table table-striped table-bordered table-hover dataTables-list">
        <thead>
        <tr>
            <th>Bolsista</th>
            <th>Data</th>
            <th>Chegada</th>
            <th>Saida</th>
            <th>Durancao</th>
            <th>Atividade</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>

        </tr>
        </thead>

    {% for presenca in object_list %}
        <tr>
            <td>{{ presenca.bolsista }}</td>
            <td>{{ presenca.data | date:"d-M-Y" }}</td>
            <td>{{ presenca.chegada | date:"H:i"}}</td>
            <td>{% if presenca.saida %}
                    {{ presenca.saida | date:"H:i"}}
                {% else %}
                    Em aberto
                {% endif %}
            </td>
            <td>{{ presenca.duracao | timedelta}}</td>
            <td>
                {% if presenca.atividade %}
                    {{ presenca.atividade}}
                {% else %}
                    Não cadastrada
                {% endif %}
            </td>
            <td align="center">
                <a title="Alterar" href="{% url 'pontoEletronico:presencaUpdate' presenca.id%}"><span class="glyphicon glyphicon-edit"></span></a>&nbsp;
            </td>
            <td align="center">
                <a title="Excluir" href="{% url 'pontoEletronico:presencaDelete' presenca.id%}"><span class="glyphicon glyphicon-trash"></span></a>&nbsp;
            </td>
        </tr>
    {% endfor %}
    </table>
    </div>

    <div class="control-group">
        <label class="control-label" for="salvar"></label>
        <div class="controls">
             <a class="btn btn-primary" href="{% url 'pontoEletronico:presencaCreate' %}" >Cadastrar Presenca</a>
        </div>
    </div>
{% endblock %}