{% extends 'base_registration.html' %}
{% block titulo %} Cadastrar Presença{% endblock %}
{% block conteudo %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form.erros }}
        <table>
        {% for field in form %}
            <tr>
                <td>{{ field.label_tag }}</td>
                <td>{{ field }}</td>
                <td>{{ field.erros }}</td>
            </tr>
        {% endfor %}
        </table>
        <div class="control-group">
            <label class="control-label" for="salvar"></label>
            <div class="controls">
                <input type="submit" class="btn btn-primary" value="Cadastrar"/>
                <a class="btn btn-danger pull-right" href="{% url 'pontoEletronico:presencaList' %}">Voltar</a>
            </div>
        </div>
    </form>

{% endblock %}