{% extends 'base_registration.html' %}
{% block titulo %} Dados da Tarefa{% endblock %}
{% block conteudo %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form.erros }}

        <table>
            {{ form.as_table }}
        </table>

        <br>


        <div class="control-group">
            <label class="control-label" for="salvar"></label>

            <div class="controls">
                <input type="submit" class="btn btn-primary" value="Salvar"/>
            </div>
        </div>
    </form>

{% endblock %}